@{
    ViewBag.Title = "Welcome Pack";
}
<div class="pageTitle">
    <img src="@Url.Content("~/Content/themes/HealthLines/images/more-information.png")" alt="" style="margin-left: 10px; margin-right: 10px; float: left; height: 80px; "  />
 
    <div style="height:20px;"></div>
    <h1>Welcome Pack</h1>
</div>

<p>For more information about the Healthlines Service, you can download the document below.</p>
@if (User.IsInRole("CVD"))
{
    <a href="@Url.Action("DownloadWelcomePack", "Patient", new { fileName = "~/Content/WelcomePacks/HealthlinesServiceWelcomeInformationCvd.pdf" })"><img style="width:35px; padding-right:5px;" src="@Url.Content("~/Content/themes/HealthLines/images/pdf_logoS.jpg")" alt="" /><b>Welcome Information</b></a><text> (File size 200KB)</text>
}
else if (User.IsInRole("Depression"))
{
    <a href="@Url.Action("DownloadWelcomePack", "Patient", new { fileName = "~/Content/WelcomePacks/HealthlinesServiceWelcomeInformationDep.pdf" })"><img style="width:35px; padding-right:5px;" src="@Url.Content("~/Content/themes/HealthLines/images/pdf_logoS.jpg")" alt="" /><b>Welcome Information</b></a><text> (File size 200KB)</text>
}
<p>To open the downloaded Welcome Pack file, you will need Adobe Reader installed on your computer. <a href="http://get.adobe.com/uk/reader/" target="_blank">Go to Adobe website</a></p>