@using NHSD.ElephantParade.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="" />
	<meta name="description" content="" />      
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/HealthLines/css/ui-hl-theme/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    
    <link href="@Url.Content("~/Content/themes/HealthLines/css/Site.css")" rel="stylesheet" type="text/css" />  
</head>
<body>  
    <div class="page">
        <div id="header">          
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
                <div id="NHSDlogo" style="position:relative;">
                    
                </div>   
            </div>            
            <div id="logo">					
                <a style="padding-left:20px;" href="@Url.Action("Index", "Home", new { area = "" })"><img src="@Url.Content("~/Content/themes/HealthLines/images/Logo.jpg")" alt="Healthlines" /></a>
                
		    </div> 
		</div>
        <div id="menucontainer">  
        @{
            var homeItem = new Dictionary<string,string[]>();
            homeItem.Add("Patient", new string[]{""});
        }
        
                  
            <ul id="menu">  
                @Html.MenuItem("Home", "Index", "Home", new { area=""}, homeItem) 
                @if(User.IsInRole("CVD"))
                {                    
                    @Html.MenuItem("My Heart Health", "Index", "BloodPressure", new { area = "CVD" })                    
                }
                @if (User.IsInRole("Depression"))
                {                    
                    @Html.MenuItem("Depression", "Index", "Depression", new { area = "Depression" })                   
                }
                @if (User.IsInRole("CVD") || User.IsInRole("Depression"))
                {
                    @Html.MenuItem("Welcome Pack", "WelcomePack", "Patient", new { area = "" });
                    @Html.MenuItem("Request a Call Back ", "PatientArrangeCallback", "PatientCallback", new { area = "" })
                    @Html.MenuItem("Letters to my GP", "Reports", "Patient", new { area = "" })
                    @Html.MenuItem("About", "About", "Home", new { area = "" });
                }
                @if (User.IsInRole("CVD"))
                {
                    @Html.MenuItem("Urgent Help", "UrgentHelpCVD", "Home", new { area = "" }) 
                }
                @if (User.IsInRole("Depression"))
                {
                    @Html.MenuItem("Urgent Help", "UrgentHelpDepression", "Home", new { area = "" })                   
                }
                @*<li><a target="_blank" href="http://www.bristol.ac.uk/healthlines/">About</a></li>*@
            </ul>            
        </div>
        <!-- end #header -->	
        <!-- table prevents  <div id="main"> from shrinking behind contents-->
        <table id="mainT">
            <tr>
                <td style="padding:0;border:0;">
                <div id="main">  
                    @RenderBody()
                </div>                 
                </td>
            </tr>
        </table>
        <div id="footer">
            <span >@Html.ActionLink("Privacy Statement", "Privacy", "Home", new { area = "" }, null) &nbsp;|&nbsp; @Html.ActionLink("Terms of Use", "Terms", "Home", new { area = "" }, null)</span>
            <span >&nbsp;|&nbsp;&#64; Copyright @DateTime.Now.Year by NHS Direct </span>
        </div>      
    </div>
</body>
</html>
