@model NHSD.ElephantParade.Domain.Models.Address

 
    <table>
    
    <tr>
        <td>
            @Html.LabelFor(model => model.Line1)
        </td>
        <td>
            @Html.DisplayFor(model => model.Line1)        
        </td>        
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Line2)
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.Line2)      
        </td>
     </tr>
    
    <tr>
        <td>
            @Html.LabelFor(model => model.County)
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.County)         
        </td>
        </tr>
     <tr>
        <td>
            @Html.LabelFor(model => model.PostCode)
        </td>
        <td class="editor-field">
            @Html.DisplayFor(model => model.PostCode)        
        </td>
        </tr>        
    </table>




