@model NHSD.ElephantParade.Web.Models.ChangePasswordModel
@{
    ViewBag.PageTitle = "SetNewPassword";
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(".button").button();
    });
</script>

<h2>Set New Password</h2>

@using (Html.BeginForm("SetNewPassword", "Account", new { id = ViewContext.RouteData.Values["id"] }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Set New Password</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input class="button" type="submit" value="Set New Password" />
            </p>
        </fieldset>
    </div>
}
